.container {
  height: calc(100vh - 5.5rem);
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
  span {
    margin: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(14, 13, 13, 0.9);
    user-select: none;
    z-index: 3;
  }

  .slide-container {
    display: flex;
    height: 100%;
    overflow: hidden;

  }
}
