.container{
  display: grid;
  // background-color: #333;
  // color: #fff;
  height: 100%;
  width: 100%;


  header{
    width: 100%;
    height: 3rem;
   display: flex;
   align-items: center;
   background-color: #fff;
   nav{
     background-color: #333;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     ul{
       margin: 1rem 0;
       list-style: none;
      height: 100%;
      width: 100%;
       display: grid;
       grid-template-columns:repeat(3,1fr) ;
        align-items: center;
       li{
          display: flex;
          justify-content: center;
         a{
           text-decoration: none;
           color: #fff;
          font-weight: 900;
           padding: .5rem 1rem;
           border-radius: 5px;
           font-size: 1.1rem;
         }:hover{
           font-size: 1.3rem;

         }

       }
     }
   }
  }
  .router-container{
    display: grid;
    overflow: scroll;
  // background-color: #333;
  // color: #fff;
  height: 100%;
  width: 100%;
  align-items: center;
  }
}
