<div class="container">
  <div class="card">
    <div class="card-img">
      <div class="circle"></div>
      <div class="semi-circle"></div>
    </div>
    <div class="email">test@gmail.com</div>
    <div class="email">
      <button>Edit Profile</button>
    </div>
  </div>
  <div class="cards">
    <div class="block" >
      <h3 >
      Orders
    </h3>
  </div>
    <div class="block">
      <h3>Collections & Wishlist</h3>
    </div>
    <div class="block">
      <h3>
        Profile Details
      </h3>
    </div>
  </div>
</div>
