<div class="container">
  <div class="card">
    <div class="card-img">
      <div class="circle"></div>
      <div class="semi-circle"></div>
    </div>
    <div class="email">{{(user$|async).email}}</div>
    <div class="email">
      <button [routerLink]="['','my','user']" >Edit Profile</button>
    </div>
  </div>
  <div class="cards">
    <div [routerLink]="['','my','orders']" class="block" >
      <h3 >
      Orders
    </h3>
  </div>
    <div class="block">
      <h3>Collections & Wishlist</h3>
    </div>
    <div [routerLink]="['','my','user']" class="block">
      <h3>
        Profile Details
      </h3>
    </div>
  </div>
</div>
