// $icon-color:  #ac2020;
footer{
//  background-color: #d81212;
//  color: #fff;
//  height: 100%;

  display: grid;
  padding: 2rem 2rem 0 2rem ;
  margin-bottom: 0;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
section.about-social{
  p{
    line-height: 1.3;
    font-size: 1.03rem;
  }

  div.social-links{
    display: flex;
    width: 100%;

    justify-content: space-evenly;

      div{
        width: 2.5rem;
        height: 2.5rem;
        background-color:  #14cda8;;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
          background-color: #fff;
          i{
            color:  #14cda8;;
          }
        }
        i{
          display: block;
          font-size: 1.5rem ;
          color: #fff;

        }
      }
  }
}
section.useful-links{
  h3{
    text-align: center;
  }
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;


    li{
      margin: 1rem 0;
      cursor: pointer;
      a{
        text-decoration: none;
        color: #333;
        font-weight: 500;
        &:hover{
          font-weight: 900;
        }
      }
    }
  }
}
}
section.contact{
  div{
    h3{
      font-weight: 400;
      font-size: 1rem;
      i{
        margin: 0 .5rem;
        color:    #ac2020;

      }
    }

  }
  div.payments{
    display: flex;
    width: 100%;

    div{
      background-color: rgb(255, 255, 255);
      width: 2.5rem;
      height: 2.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;


      i{
        font-size: 1.5rem;
        color: #d81212;

      }
    }
  }
}
}
