<footer>
  <section class="about-social">
    <h2>Mantra</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus harum, distinctio ducimus veniam quidem totam. Laborum quo, fuga et eveniet at eaque quasi modi porro blanditiis in culpa reprehenderit provident praesentium repudiandae tempora assumenda est necessitatibus distinctio, a repellendus veniam. Neque molestiae quasi dolores veniam commodi, voluptatum ducimus in.</p>
    <div class="social-links">
      <div>
        <i class="fa-brands fa-facebook-square"></i>
      </div>
      <div>
        <i class="fa-brands fa-twitter-square"></i>
      </div>
      <div>
        <i class="fa-brands fa-instagram-square"></i>
      </div>
    <div>
      <i class="fa-brands fa-pinterest-square"></i>
    </div>
    </div>
  </section>
  <section class="useful-links">
    <h3>Useful Links</h3>
    <nav>
      <ul class="vertical-1">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/">Man Fashion</a>
        </li>
        <li>
          <a routerLink="/">Accessories</a>
        </li>
        <li>
          <a routerLink="/">Order Tracking</a>
        </li>
        <li>
          <a routerLink="/">Wishlist</a>
        </li>
      </ul>
      <ul class="vertical-2">
        <li>
          <a routerLink="/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/">Woman Fashion</a>
        </li>
        <li>
          <a routerLink="/">My Account</a>
        </li>
        <li>
          <a routerLink="/">Wishlist</a>
        </li>
        <li>
          <a routerLink="/">Terms.</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="contact">
      <h3>Contact</h3>
      <div class="contact-item">
        <h3>  <i class="fa-solid fa-location-pin"></i> 117/23 Kasturba Gandhi Marg 457001 </h3>
      </div>
      <div class="contact-item">
        <h3><i class="fa-solid fa-phone"></i>+1 123 456 789</h3>
      </div>
      <div class="contact-item">
        <h3><i class="fa-solid fa-envelope"></i>mantra@contact.com</h3>
      </div>
      <div class="payments">
        <div>
          <i class="fa-brands fa-cc-mastercard"></i>
        </div>
       <div>
        <i class="fa-brands fa-cc-paypal"></i>
       </div>
       <div>
        <i class="fa-brands fa-cc-amex"></i>
       </div>
       <div>
        <i class="fa-brands fa-cc-visa"></i>
       </div>
       <div>
        <i class="fa-brands fa-cc-discover"></i>
       </div>
      </div>
  </section>
</footer>
