header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;

  nav {
    box-shadow: -20px 17px 20px 0 rgb(0 0 0 / 5%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // repeat(auto-fit,minmax(400px,1fr));
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        margin: 0 0.5rem;


        span.search-icon{
          font-size: 1.2rem;
        }
        span.language{
          text-transform: uppercase;
          font-weight: 600;
        }
        span.badge{
          position: absolute;
          top: -20px;
          background-color:  #14cda8;;
          width: 1.2rem;
          height: 1.2rem;
          text-align: center;
          color: #fff;
          font-weight: 600;
          border-radius: 50%;
          font-size: 1rem;

        }
        a {
          text-decoration: none;
          color: #333;
          &.shoping-cart-link{
            position: relative;
          }
        }
        &.search-item {
          padding: 0.25rem;
          display: flex;
          border: 0.5px solid #333;
          border-radius: 3px;
          input {
            outline: none;
            border: none;
          }
        }
        &.lang-search {
          display: flex;
          align-items: center;
        }
        &.logo {
          a.logo-link {
            font-size: 1.5rem;
            font-weight: 700;
            color: #333;
            letter-spacing: 3px;
            &:hover{
              font-weight: 900;
            }
          }
        }
      }
      li.user-profile{
        padding: 2rem;

          position: relative;
          a{
            width: 100%;
            height: 100%;
            span{
              width: 100%;
            height: 100%;
            }
          }
        div.user-details{
          display: none;
          position: absolute;
          top: 5rem;
          left: -4rem;
          width: 200px;
          height: 25vh;
          background-color: #fff;
          cursor: pointer;
          .tile-container{
            width: 100%;
            position: relative;
            display: flex;
            height: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .tile{
              position: absolute;
              top: -1rem;
              left: 40%;
              background-color:  #14cda8;;
              width: 30%;
              height: .25rem;
            }
          }
          .user-container{
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
           h3,h4{
            margin: 0;
            padding: 0;
             margin-bottom: 3px ;
             font-weight: 700;
             margin: 3px 0;
           }
           h4{
             font-weight: 400;
           }
           .hr{
             width: 100%;
             height: 1px;
             background-color: rgb(80, 80, 80);
           }
           div.links{
             margin: 1rem 0;
             height: 100%;
             width: 100%;
             display: flex;
             flex-direction: column;
             align-items: center;

            a{

              margin: .25rem 0;
              text-decoration: none;
              color: #333;
              text-align: center;
            }
           }
          }
          &:hover{
            display: flex;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        &:hover > div.user-details{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
      }
      &.center {
        justify-content: center;
      }
      &.right{
        justify-content: space-evenly;
        li{
          a{
            &:hover{
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}


