<header>

  <nav>
    <ul class="left">
      <li class="lang-search">
        <span class="language">En</span>
        <a>
          <span class="material-icons">
            expand_more
          </span>
        </a>
      </li>
      <li *ngIf="showSearch" class="search-item">
        <span class="material-icons search-icon">
          search
        </span>
        <input placeholder="Search for Products" type="text">
      </li>
    </ul>
    <ul class="center">
      <li class="logo">
        <a class="logo-link" routerLink="">Mantra.in</a>
      </li>
    </ul>
    <ul class="right">
      <li *ngIf="!userLoggedIn">
        <a routerLink="/register">Register</a>
      </li>
      <li *ngIf="!userLoggedIn">
        <a routerLink="/login">{{'Sign in'}}</a>
      </li>
      <li class="user-profile" *ngIf="userLoggedIn">
        <a routerLink="">
          <span class="material-icons">
            person
          </span>
        </a>
        <div class="user-details">
          <div class="tile-container">
            <div class="tile"></div>
          </div>
          <div class="user-container">
            <h3 [routerLink]="['','my','user']" class="user-name">{{(user$|async)?.username}}</h3>
            <p class="user-email">{{(user$|async)?.email}}</p>
            <div class="hr"></div>
            <div class="links">

              <a [routerLink]="['','my']">Profile</a>
              <a [routerLink]="['','wishlist']">Wishlist</a>
              <a [routerLink]="['','my','orders']">Your Orders</a>
              <a (click)="logout()">Logout</a>
            </div>

          </div>
        </div>
      </li>
      <li>
        <a class="shoping-cart-link" routerLink="/cart">
          <span class="material-icons">
            shopping_cart
          </span>
          <span *ngIf="userLoggedIn && (cart$|async) && (cart$|async)?.products?.length !==0" class="badge">
            {{(cart$|async)?.products?.length}}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
