
<header>

  <nav>
    <ul class="left">
      <li class="lang-search">
        <span  class="language">En</span>
        <a routerLink="">
          <span   class="material-icons">
          expand_more
          </span>
        </a>
      </li>
      <li   class="search-item">
        <span   class="material-icons search-icon">
          search
          </span>
        <input placeholder="Search for Products" type="text">
      </li>
    </ul>
    <ul class="center">
      <li class="logo">
        <a class="logo-link" routerLink="">Mantra</a>
      </li>
    </ul>
    <ul class="right">
      <li>
        <a routerLink="">Register</a>
      </li>
      <li>
        <a routerLink="">Sign in</a>
      </li>
      <li>
        <a class="shoping-cart-link" routerLink="">
          <span class="material-icons">
          shopping_cart
          </span>
          <span class="badge">
            3
          </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
