<div class="container">
  <app-navbar class="nav"></app-navbar>
  <aside>
    <header>
      <h3>Account</h3>
      <h5>{{(user$|async).username}}</h5>
    </header>
    <main>
      <div class="block overview ">
        <a [routerLink]="['','my']" class="block-heading" [ngClass]="{'active':activeRoute['my']}">
          overview
        </a>
      </div>

      <div [routerLink]="['','my','orders']" class="block orders" [ngClass]="{'active':activeRoute['orders']}">
        <a class="block-heading">
          orders
        </a>
      </div>
      <div class="block account">
        <a class="block-heading">
          account
        </a>
        <menu >
          <li>
            <a [routerLink]="['','my','user']">Profile</a>
          </li>
          <li>
            <a [routerLink]="['','my','user','cash']">Mantra Cash</a>
          </li>
          <li>
            <a [routerLink]="['','my','user','address']" routerLink="">Address</a>
          </li>
        </menu>
      </div>
      <div class="block legal">
        <a class="block-heading" [ngClass]="{'active':activeRoute['orders']}"
        [routerLink]="['','my','legal']" >
          legal
        </a>
      </div>
    </main>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
