.container{
  display: grid;
  grid-template-columns: repeat(12,1fr);

  overflow-y:scroll;
  overflow: hidden;
  max-height: 100vh;
  .nav{
    grid-column: 1/13;
  }
  aside{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    grid-column: 1/3;
    height: calc(100vh - 4rem);
    width: 100%;
    border-right: 1px solid gray;
    header{
      margin: 0 2rem;
      height: 4rem;
      width: 100%;
      margin-top: 1rem;

      display: flex;
      flex-direction: column;

      h3,h5{
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        margin: .25rem 0;
      }
      h3{
        font-weight: 600;
      }
    }
    main{
      margin: 1rem 2rem;

      display: flex;
      flex-direction: column;
      .block{
        padding: 2rem 0;
        a{
        cursor: pointer;
        text-decoration: none;
        color: #333;
        &:hover{
          font-weight: 700;
          font-size: 1.1rem;
        }
        }
        .block-heading{
          font-weight: 600;
          text-transform: capitalize;
          font-size: 1.1rem;
        }
        a.active{
          color: #14cda8;
          font-weight: 700;
          font-size: 1.1rem;

        }
        menu{
          margin: 0;
          list-style: none;
          padding: 0;
          li{
            a{
              font-size: .9rem;
            }
          }
        }
      }
    }

  }
  main{

    margin: 2rem 0;
    grid-column: 3/13;
    height: calc(100vh - 4rem);
    width: 100%;

  }
}


.active{
  color: #14cda8;
  font-weight: 700;
  font-size: 1.1rem;

}
