.container{
  
  .cart-container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);

    // grid-template-rows: repeat(12,1fr);
    .cart-title {
      display: flex;
      grid-row: 1/2;
      grid-column: 1/13;
      justify-self: center;
      font-size: 1.2rem;
      h2 {
        font-weight: 600;
      }
    }
    .cart-links {
      margin: 0 1rem;

      display: grid;
      grid-column: 1/13;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-content: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 100%;
        a {
          color: #333;
          margin: 0 1rem;
        }
        .btn {
          background-color: transparent;
          border: 2px solid teal;
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
        }
      }
    }
    section.cart-details {
      margin: 2rem;
      grid-column: 1/13;
      grid-row: 3/13;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .cart-item-list {
        grid-column: 1/8;
        .cart-item {
          display: grid;
          grid-template-columns: 1fr 2fr;
          .img-container {
            width: 100%;
            height: 100%;
            max-height: 200px;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
          .item-detail-container {
            margin: 0 1rem;
            .cart-detail {
              display: flex;
              flex-direction: column;
              div {
                display: flex;
                align-items: center;
              }
              span.bold {
                font-weight: 700;
                margin-right: 3px;
              }
            }
            display: flex;
            width: 100%;
            .item-detail {
              width: 100%;
              margin: 0 1rem;
              .product-name,
              .product-id {
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                span.bold {
                  font-weight: 700;
                }
              }
              div.color {
                width: 1rem;
                height: 1rem;
                background-color: teal;
                color: teal;
                border-radius: 100%;
                margin: 1rem 0;
              }
              div.size {
                font-weight: 600;
                font-size: 1.1rem;
              }
            }
            .cart-item-detail {
              display: flex;
              flex-direction: column;
              width: 100%;
              align-items: center;
              justify-content: center;
              .button-group {
                display: flex;
                align-items: center;
                button.btn {
                  padding: 0.25rem 1rem;
                  background-color: transparent;
                  border: 1px solid teal;
                  margin: 0 1rem;
                  font-weight: 600;
                  font-size: 1.2rem;
                }
                span.bold {
                  font-weight: 700;
                }
              }
              .item-total {
                margin: 1rem 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
        }
      }
      .order-summary.card {
        margin: 1rem;
        box-shadow: 1px 1px 1px 1px #333;
        grid-column: 9/12;
        grid-row: 1/13;
        height: 300px;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          div {
            display: flex;

            align-items: flex-start;
            div {
              margin: 1rem;
            }
            div.right {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

}
