<div class="container">
  <app-navbar></app-navbar>
  <app-announcement></app-announcement>
  <section class="cart-container">
    <div class="cart-title">
      <h2>Your Bag.</h2>
    </div>

    <div class="cart-links">
      <div>
        <button [routerLink]="['']" routerLinkActive="router-link-active"  class="btn">
          Continue Shopping
        </button>
      </div>
      <div>
        <a [routerLink]="">Shopping Bag({{(userCart$|async)?.products?.length}})</a>
        <a [routerLink]="">Your Wishlist(10)</a>
      </div>
      <div>
        <button [routerLink]="['','shipping-address']" class="btn">
          Checkout Now.
        </button>
      </div>
    </div>

    <section class="cart-details">

      <div *ngFor="let product of products" class="cart-item-list">
        <div   class="cart-item">
          <div class="img-container">
            <img class="link" [routerLink]="['','product-detail',product._id]"
              [src]="product.img"
              alt="">
          </div>
          <div class="item-detail-container">
            <div class="cart-detail">
              <div class="product-name">
                <span class="bold">Product:</span>
                <p class="link" [routerLink]="['','product-detail',product._id]" >{{product.title|slice:0:20}}</p>
              </div>
              <div class="product-id">
                <span class="bold">ID:</span>
                <p>{{product._id}}</p>
              </div>
              <div class="color"><span class="bold">Color</span>
              <p>{{product.color}}</p>
              </div>
              <div class="size">
                <span class="bold">Price</span>
                <p>₹{{product.price}}</p>
              </div>
            </div>
            <div class="cart-item-detail">
              <div class="button-group">
                <button (click)="incrmentProductInCart(product)" class="btn plus">+</button>
                <span class="bold">{{product.quantity}}</span>
                <button (click)="decrementProductInCart(product)" class="btn minus">-</button>
              </div>
              <div class="item-total">
                ₹{{product.productTotal}}
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="order-summary card">
        <h2 class="card-title">
          Order Summary
        </h2>
        <div class="card-body">
          <div class="subtotal">
          </div>
          <div class="esimated-shipping">
            <div class="left">
                Estimated Shipping
            </div>
            <div class="right">
              $5
            </div>
          </div>
          <div class="shipping-discount">
            <div class="left">
                Shipping Discount
            </div>
            <div class="right">
              -$5
            </div>
          </div>
          <div class="total">
            <div class="left">
                Total
            </div>
            <div class="right">
              ₹{{cartTotal$|async| number: '1.0-0'}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-footer></app-footer>
</div>
