<div class="container">
  <app-navbar></app-navbar>
  <app-announcement></app-announcement>

  <section class="cart-container">
    <div class="cart-title">
      <h2>Your Bag.</h2>
    </div>

    <div class="cart-links">
      <div>
        <button class="btn">
          Continue Shopping
        </button>
      </div>
      <div>
        <a routerLink="">Shopping Bag(2)</a>
        <a routerLink="">Your Wishlist(10)</a>
      </div>
      <div>
        <button class="btn">
          Checkout Now.
        </button>
      </div>
    </div>

    <section class="cart-details">
      <div class="cart-item-list">
        <div class="cart-item">
          <div class="img-container">
            <img
              src="https://images.pexels.com/photos/10050106/pexels-photo-10050106.jpeg?auto=compress&cs=tinysrgb&h=350"
              alt="">
          </div>
          <div class="item-detail-container">
            <div class="cart-detail">
              <div class="product-name">
                <span class="bold">Product:</span>
                <p>Reebok Shoes</p>
              </div>
              <div class="product-id">
                <span class="bold">ID:</span>
                <p>123456789</p>
              </div>
              <div class="color"></div>
              <div class="size">37.5</div>
            </div>
            <div class="cart-item-detail">
              <div class="button-group">
                <button class="btn plus">+</button>
                <span class="bold">1</span>
                <button class="btn minus">-</button>
              </div>
              <div class="item-total">
                $300
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="order-summary card">
        <h2 class="card-title">
          Order Summary
        </h2>
        <div class="card-body">
          <div class="subtotal">
            <div class="left">
                Subtotal
            </div>
            <div class="right">
              $80
            </div>
          </div>
          <div class="esimated-shipping">
            <div class="left">
                Estimated Shipping
            </div>
            <div class="right">
              $5
            </div>
          </div>
          <div class="shipping-discount">
            <div class="left">
                Shipping Discount
            </div>
            <div class="right">
              -$5
            </div>
          </div>
          <div class="total">
            <div class="left">
                Total
            </div>
            <div class="right">
              $80
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <app-footer></app-footer>
</div>
