.container{
  flex: 1;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  .img-container{
    height: 100%;
    width: 100%;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .info-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
      color: #fff;
    }

    .btn{
      background-color:  #14cda8;;
      color: #fff;
      padding: .5rem 1rem;
      border: none;
    }
  }

}
