<div class="login-container">
  <div class="card">
    <header>
      <h2 class="card-title brand">
        Mantra
      </h2>
      <h3 class="card-text">Welcome Please Login To Your Account</h3>

    </header>
    <div class="card-body">
      <form>
        <div class="form-input-group">
          <input placeholder="Username or Email" type="text" name="" id="">
          <input placeholder="Password" type="password" name="password" id="password">
        </div>
          <div class="remember-forgot-container">
            <div class="remember"><input type="checkbox" name="" id="">Remember Me</div>
            <div class="forgot"><a routerLink="">Forgot Password</a></div>
          </div>
        <div>
          <button class="btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
