.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/img//RegistrationBacground.jpg")  ;
  background-repeat: no-repeat;
  background-size: cover;



  .card {
    max-width: 800px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 8px 5px teal;
    padding: 1rem;
    // background-color: #333;
    color: #fff;
    height: 80%;
    width: 80%;
    header {
      h2,
      h3 {
        font-weight: 500;
        text-align: center;
      }
      .brand {
        font-weight: 800;
        letter-spacing: 2px;
      }
    }
    .card-body {
      margin: 2rem;
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      align-content: center;

      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      align-content: center;
        .form-input-group {
          display: grid;
          grid-template-columns: 1fr ;
          gap: 1rem;
          align-items: center;
          justify-content: center;
          justify-items: center;
          width: 100%;
          input {
            padding: 1rem;
            width: 100%;
            max-width: 30rem;
            box-shadow: 1px 1px 3px 1px teal;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }
        .remember-forgot-container{
          display: flex;
          margin: 1rem 0;
          font-size: 1.2rem;
          div.remember{

              input{
                margin: 0 .5rem;
              }
            font-weight: 500;

          }
          div.forgot{

            a{

              color: #fff;
              font-weight: 700;
            }
          }
        }
        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button.btn {
            background-color: teal;
            border: none;
            color: #fff;
            padding: 0.75rem 1.25rem;
            margin: 1rem 0;
            width: 10rem;
          }
        }
      }
    }
  }
}
