<div class="login-container">
  <div class="card">
    <header>
      <h2 class="card-title brand">
        Mantra
      </h2>
      <h3 class="card-text">Welcome Please Login To Your Account</h3>

    </header>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="form-input-group">
          <input placeholder="Username or Email"  [ngClass]="{'alert':loginForm.controls['username'].invalid && loginForm.controls['username'].touched}" type="text" name="" id="" formControlName="username">
          <input placeholder="Password"  [ngClass]="{'alert':loginForm.controls['password'].invalid && loginForm.controls['password'].touched}" type="password" name="password" id="password" formControlName="password">
        </div>
          <div class="remember-forgot-container">
            <div class="remember"><input type="checkbox" name="tac"
               id="tac" formControlName="tac">Remember Me</div>
            <div class="forgot"><a [routerLink]="['','forgotpassword']">Forgot Password</a></div>
          </div>
          <div [routerLink]="['','register']" class="register-now">Not a User Sign Up Now!</div>
        <div>
          <button class="btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
