.card
{
 background-color: #fff;
  height: 350px;
  width: 100%;
  position: relative;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-body{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1.5s ease;
    .circle{
      transition: all 500ms ease;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      background-color: teal;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      cursor: pointer;
      span{
        color: #fff;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &:hover > div{
    opacity: 1;
  }
  &:hover img{
    filter: blur(2px);
  }
}
