<div class="card">
  <img [src]="product.img" alt="">
  <div class="card-body">
    <div class="circle">
      <span (click)="addToCart()" [routerLink]="['cart']" class="material-icons">
        shopping_cart
      </span>
    </div>
    <div class="circle">
      <span class="material-icons">
        favorite
      </span>
    </div>
    <div class="circle" [routerLink]="['product-detail',product._id]" >
      <span class="material-icons">
        search
      </span>
    </div>
  </div>
</div>
