.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  header {
    grid-row: 1/2;
    margin: 0 2rem;
    display: grid;
    height: 5rem;
    width: 100%;
    align-items: center;
    grid-column: 1/13;
    grid-template-columns: repeat(12, 1fr);
    h1 {
      grid-column: 1/3;
    }
    nav {
      height: 100%;
      width: 80%;
      grid-column: 3/13;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .line {
        margin-top: 1rem;
        margin: 1rem 2rem;
        padding: 0 -15rem;
        width: 80%;
        height: 3px;
        background-color: gold;
        position: sticky;
        top: 5%;
      }
      ul {
        padding: 0 1rem;
        margin-top: 1px solid #333;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          position: relative;
          span.point {
            position: absolute;
            top: -2rem;
            color: #333;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  main {

    margin: 0 2rem;
    grid-row: 2/13;
    grid-column: 1/13;
    display: grid;
    .heading-container{
      display: flex;
      justify-content: space-between;
      h3.heading {
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 1px;
      }
      button {
        height: 2rem;
        cursor: pointer;
        margin: 1rem 0rem;
        background-color: gold;
        border: 2px solid  #14cda8;;
        padding: 0.125rem 1rem;
        font-weight: 600;

      }
    }

    .address-form-container {
      width: 100%;
      display: flex;

      justify-content: center;

      form {
        margin: 1rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-control {
          width: 100%;
          display: flex;
          flex-direction: column;

          // width: 100%;

          label {
            font-weight: 600;
            font-size: 1.1rem;
          }
          input {
            margin: 1rem 0;
            border: 2px solid  #14cda8;;
            padding: 0.5rem 1rem;
            margin-right: 3rem;
            font-size: 1rem;
            text-transform: capitalize;
            &:focus {
              outline: 2px solid gold;
              border: none;
            }
          }
          .menu-container {
            margin: 1rem 0;
            margin-right: 3rem;

            border: 2px solid  #14cda8;;
            cursor: pointer;
            .menu-toggle {
              padding: 0.5rem 1rem;
              margin-right: 3rem;

              width: 100%;
            }

            .menu {
              position: absolute;

              width: 100%;
              z-index: 5;
              // width: 13rem;
              max-width: 70vw;

              user-select: none;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding: 0 1rem;
              border: none;
              background-color:  #14cda8;;
              color: #fff;

              div {
                display: flex;
                width: 15rem;
                margin: 1rem 0;
                font-size: 1rem;
                &:hover {
                  color: white;
                  font-size: 1.1rem;
                  color: #333;
                }
              }
            }
          }
        }
        .form-input-group {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          .form-control {
            input {
              width: 100% !important;
              max-width: 27.5rem;
              &:focus {
                outline: 2px solid gold;
                border: none;
              }
            }
          }
        }
        button {
          background-color:  #14cda8;;
          color: #fff;
          border: 2px solid #fff;
          padding: 0.75rem 2rem;
          font-size: 1.1rem;
        }
        margin-bottom: 1rem;
      }
    }


    //main ends here
  }
  main.address-container{
    display: flex;
    flex-direction: column;

    div.heading{
      margin: 1rem 2rem;
    }

    .card-container {
      width: 100%;
      display: flex;
      .address-card {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        .card-body {
          display: flex;
          flex-direction: column;
          p {
            margin: 0;
          }
          button.btn.gold {
            margin: 1rem 0rem;
            background-color: gold;
            border: 2px solid  #14cda8;;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }

    .show-form {
      margin: 2rem;
      margin-right: 3rem;
      width: 100%;
      button {
        cursor: pointer;
        margin: 1rem 0rem;
        background-color: gold;
        border: 2px solid  #14cda8;;
        padding: 0.5rem 1rem;
        font-weight: 600;

      }
    }
  }
}
