.container{
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;

  .navbar{
    position: sticky;
    top: 0;
  }
}

.container::-webkit-scrollbar {
  width: .7em;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(248, 9, 9, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: teal;


}
::selection {
  background: rgb(3, 2, 2);
   /* WebKit/Blink Browsers */
   color: #fff;
}
::-moz-selection {
  background: rgb(10, 8, 8); /* Gecko Browsers */
  color: #fff;
}
