.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 7fr;
  .img-container {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    img {
      height: 20rem;
      object-fit: contain;
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    h3,
    h4 {
      font-weight: 400;
      margin: 0;
      margin: 0.25rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    button {
      margin: 0.5rem;
      background-color: #14cda8;
      border: 3px solid #fff;
      box-shadow: 5px 5px 13px 15px #fff;
      padding: 0.75rem 2rem;
      color: #fff;
    }
  }
  .order-list {
    display: grid;
    align-items: center;
    width: 100%;
    overflow: scroll;
    height: 100%;
    min-height: calc(100vh - 5rem);

    .card {
      margin: 1rem 2rem;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 2fr 2fr;
      box-shadow: 1px 5px 15px 1px #333;
      .product-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        img {
          padding: 1rem;
          width: 100%;
          height: 100%;
          object-fit: contain;
          height: 7rem;
        }
      }
      .product-info {
        .product-name {
          color: #14cda8;
          font-size: 1.1rem;
        }
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3,
        h4,
        h5 {
          font-weight: 500;
          margin: 0;
          margin: 3px;
        }
        span.bold {
          font-weight: 600;
        }
      }
      .delivery-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3,
        h4,
        h5 {
          font-weight: 500;
          margin: 0;
          margin: 3px;
        }
        h4 {
          font-size: 1rem;
          font-weight: 500;
        }
        h4.light {
          font-weight: 400;
          margin-bottom: 5px;
          span.bold {
            font-weight: 600;
          }
        }
      }
    }
  }
}
