.toast {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  padding: 0 3rem;
  background-color:  #14cda8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  z-index: 99999;
  box-shadow: 1px 2px 10px 1px gray;
  button {
    background-color: transparent;
    margin: 0 1rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.prompt {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 25%;
  height: 100px;
  padding: 0 3rem;
  background-color:  #14cda8;;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 13px 1px #333;
  p {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
  }
  .button-group {
    button {
      background-color: transparent;
      margin: 0 1rem;
      border: none;
      background-color: #fff;
      padding: 0 0.5rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px #fff;
      &.confirm {
        color: rgb(82, 236, 82);
        font-weight: 900;
      }
      &.deny {
        span {
          color: red;
          font-weight: 900;
        }
      }
    }
  }
}
