<div *ngIf="(show|async)?.show" class="toast"
[ngStyle]="{'color':(show|async)?.color,'background-color':(show|async)?.color!=='#fff'?'#fff':'teal','font-weight':(show|async)?.color!=='#fff'?700:400}"
>
  <p class="message">{{(show|async)?.message}}</p>
  <button
  [ngStyle]="{'color':(show|async)?.color,'background-color':(show|async)?.color!=='#fff'?'#fff':'teal','font-weight':(show|async)?.color!=='#fff'?700:400}"
   (click)="close()">x</button>
</div>
<div *ngIf="(show|async)?.show && (show|async)?.confirm"  class="prompt">

  <p class="message">{{(show|async)?.message}}</p>

  <div class="button-group">
    <button class="confirm" (click)="confirm()"><span class="material-icons">
      done
      </span></button>
    <button class="deny" (click)="deny()">
      <span class="material-icons">
      close
      </span>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
