.container{
  height: calc(100vh - 5rem);
  width: 100vw;
  background-color: lavenderblush;
  display: grid;
  place-content: center;
 justify-content: center;
.card{
  width: 20rem;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .card-heading{
      margin:0 1rem;
     h2,h4{
       margin: 0;
       font-weight: 100;
       margin: 5px;
     }
     h2{
       font-weight: 500;
     }
     h4{
       font-size: .9rem;
       font-weight: 400;
     }
    }
  .card-body{
    display: flex;

    form.reset {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      grid-template-columns: 1fr ;

      div.form-row {

        width: 100%;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label{
          width: 100%;
          text-align: left;
          font-weight: 500;
          margin: 3px 0;
        }
        .input-col {

          width: 100%;
          border: 2px solid rgb(224, 209, 209);
          display: flex;
          align-items: center;


          input {
            border: none;
            padding: .5rem 1rem;
            &:focus{
              border: none;
              outline: none;
            }
          }
          span {
            cursor: pointer;
            margin-left: auto;
            margin-right: 1rem;
            color: hsl(346, 50%, 82%);
            user-select: none;
          }
        }
      }
      div.form-buton{

        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .btn{
          padding: .5rem 1rem;
          border-radius: .8rem;
          margin:  1rem;
          cursor: pointer;
          background-color: #ff3e6c;
          border: none;
          color: #fff;
        }
      }

    }
  }
}
}
