<app-navbar></app-navbar>
<div class="container">

  <div class="card">
    <div class="card-heading">
      <h2>Enter Your New Password</h2>

    </div>
   <div class="card-body">
    <form [formGroup]="resetPasswordForm" class="reset">
      <div class="form-row">
        <label for="newPassword">Password</label>
        <div class="input-col">
       <input formControlName="newPassword"  #newPassword type="password" id="newPassword" name="newPassword">
       <span (click)="togglePassword(newPassword,$event)" class="material-icons">
         visibility

         </span>
       </div>
      </div>
      <div class="form-row">
        <label for="confirmPassword">Confirm Password</label>
       <div class="input-col">
         <input formControlName="confirmPassword"  #confirmPassword type="password" id="confirmPassword" name="confirmPassword">
       <span (click)="togglePassword(confirmPassword,$event)" class="material-icons">
         visibility

         </span></div>
      </div>
      <div class="form-buton">
       <button [routerLink]="['','login']" class="btn">Cancel</button>

        <button (click)="changePassword()" class="btn">Change Password</button>
      </div>
     </form>
   </div>
  </div>
</div>


