<div class="container">
  <app-navbar></app-navbar>
  <app-announcement></app-announcement>
  <section class="filter-container">
    <div class="filter-products">
          <h3 class="filter-text">Filter Products:</h3>
         <div>
          <app-filter class="filter" [options]="colors"></app-filter>
          <app-filter class="filter" [options]="size"></app-filter>
         </div>
    </div>
    <div class="sort-products">
      <h3 class="filter-text">Sort Products:</h3>
      <app-filter class="filter" [options]="sort"></app-filter>
    </div>
  </section>
  <app-products></app-products>
  <app-news-letter></app-news-letter>
  <app-footer></app-footer>

</div>
