.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  section{
    width: 100%;
    height: 100vh;


  }
  section.side-img{

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  section.form-container{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 3fr;
    div.logo{
      justify-self: start;
      margin: 0 1rem;
       font-style: italic;
       letter-spacing: 3px;
       font-size: 2rem;
       font-weight: 500;
       border-bottom: 3px solid  #14cda8;;
    }
    div.heading{
      align-self: flex-end;
      font-weight: 400;
    }
    form{
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      .form-input-group{
        display: flex;
        flex-direction: column;

        input{
          margin: 1rem 0;
          outline: none;
          border: none;
          padding: 1rem 2rem;

          font-size: 1rem;


        }
      }
      .remember-forgot-container{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        a{
          color: #333;
        }
      }
      .btn{
        background-color: transparent;
        padding: .5rem 1rem;
        width: 100%;
        letter-spacing: 3px;
        font-size: 1.1rem;
        border: 2px solid  #14cda8;;
      }
    }
  }
}
