<div class="registration-container">
      <div class="card">
        <header>
          <h2 class="card-title brand">
            Mantra
          </h2>
          <h3 class="card-text">Register</h3>
          <p>Hey! Fill up the information below to create an account with Mantra.</p>
        </header>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

           <div class="form-input-group">
            <input placeholder="First Name" type="text"
            [ngClass]="{'alert':registerForm.controls['firstname'].invalid && registerForm.controls['firstname'].touched}"
            name="firstname" id="firstname" formControlName="firstname"
             >
            <input placeholder="Last Name" type="text"
            [ngClass]="{'alert':registerForm.controls['lastname'].invalid && registerForm.controls['lastname'].touched}"
             name="lastname" id="lastname"formControlName="lastname">
            <input placeholder="Username" type="text" name="username" id="username"formControlName="username"
            [ngClass]="{'alert':registerForm.controls['username'].invalid && registerForm.controls['username'].touched}"
            >
            <input placeholder="Email" type="email" name="email"
            [ngClass]="{'alert':registerForm.controls['email'].invalid && registerForm.controls['email'].touched}"
             id="email"formControlName="email">
           <div class="password">
            <input #password placeholder="Password" type="password" name="password"
            [ngClass]="{'alert':registerForm.controls['password'].invalid && registerForm.controls['password'].touched}"
             id="password"formControlName="password">
             <span (click)="togglePassword(password)" class="material-icons">
              {{!showHidePasword?'visibility':'visibility_off'}}
            </span>
           </div>
           <div class="password">
            <input #confirmpassword placeholder="Confirm Password" type="password"
            [ngClass]="{'alert':registerForm.controls['confirmpassword'].invalid && registerForm.controls['confirmpassword'].touched}"
             name="confirmpassword" id="confirmpassword"formControlName="confirmpassword">
             <span (click)="togglePassword(confirmpassword)" class="material-icons">
              {{!showHideConfirmPasword?'visibility':'visibility_off'}}
            </span>
           </div>
           </div>
           <div class="terms-condition">
           <input type="checkbox" name="tac" id="tac" formControlName="tac"> I agree to the Terms and Conditions.
           </div>
           <div>
            <button   class="btn">Create Account</button>
           </div>
          </form>
        </div>
      </div>
</div>
