<div class="container">
  <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
    <div class="row">
      <label for="username">User Name</label>
      <input type="text"
      formControlName="username"
     id="username" [value]="(user|async)?.username">
    </div>
    <div class="row">
      <label for="firstname">First Name</label>
      <input type="text"
      formControlName="firstname"
     id="firstname" [value]="(user|async)?.firstname">
    </div>
    <div class="row">
      <label for="lastname">Last Name</label>
      <input type="text"
      formControlName="lastname"
     id="lastname" [value]="(user|async)?.lastname">
    </div>
    <div class="row">
      <label for="email">Email</label>
      <input type="email"
      formControlName="email"
     id="email" [value]="(user|async)?.email">
    </div>
    <div class="row">
      <label for="password">Password</label>
      <input type="password"
      formControlName="password"
     id="password" >
    </div>

     <button>Save</button>
  </form>
</div>
