<div class="container">
  <div class="card">
    <div class="card-heading">
      Total Available Mantra Cash
    </div>
    <div class="highlight">
      {{MantraCash}}
    </div>
    <div class="card-body">
     <h4> Your total MantraCash is worth ₹{{MantraCash}}</h4>
      <p>
        You can pay upto 10% (may vary during the sale
         & promotion events) of your order value through Mantra Cash.
        Use them on the Payments page during checkout.
      </p>
    </div>
    <div class="card-footer">
      You have ₹{{MantraCash}} referral Mantra Cash pending.
    </div>
  </div>
</div>






