/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --accent:#14cda8;
  --secondary:#ff3e6c;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
   overflow-x: hidden;
  height: 100%;

}
body::-webkit-scrollbar {
  width: .7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(248, 9, 9, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color:  #14cda8;;


}
::selection {
  background: rgb(3, 2, 2);
   /* WebKit/Blink Browsers */
   color: #fff;
}
::-moz-selection {
  background: rgb(10, 8, 8); /* Gecko Browsers */
  color: #fff;
}
