.container {
  height: calc(100vh - 5rem);
  width: 100vw;
  background-color: lavenderblush;
  display: grid;
  place-content: center;
 justify-content: center;

  .card{
    width: 20rem;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

   .card-heading{
     margin:0 1rem;
    h2,h4{
      margin: 0;
      font-weight: 100;
      margin: 5px;
    }
    h2{
      font-weight: 500;
    }
    h4{
      font-size: .9rem;
      font-weight: 400;
    }
   }

    .card-body{
      width: 100%;
      form{
        width: 100%;

        height: 100%;
        display: grid;
        .form-row{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          input{
            width: 80%;
            padding: 0.5rem 1rem;
            margin: 1rem;
            border: 1px solid var(--accent);

            &:focus{
                background-color: #fff;
                outline: none;
                border: 1px solid #ff3e6c;
            }

          }
        }
        .button-container{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button{
            width: 50%;
            padding: 0.75rem ;
            background-color: #ff3e6c;
            border: none;
            color: #fff;
          }
        }
      }
    }
  }
}
